/* *{
    margin: 0;
    padding: 0;
} */
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 100px;
}
.nav-items{
    padding: 0px 20px;
}

.nav-items>ul{
    font-size: 18px;
    display: flex;
    list-style: none;
}
.nav-items>ul>li{
    margin: 10px;
    display: flex;
    padding: 10px;
    cursor: pointer;
    
}
.restaurant-container{
    display: flex;
    flex-wrap: wrap ;
}

.restaurant-card{
    margin: 3px;
    padding: 3px;
    width: 250px;
    height: 350px;
}

.restaurant-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.search{
    padding: 10px;
}  

.res-logo{
    width: 100%;
    
}